.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

body {
  margin: 0;
  padding: 0;
}

input{
  border: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

#addButton{
  border: none;
  background-color: teal;
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.addTask {
  height: 30vh;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  border-radius: 10px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.task {
  display: flex;
}

.task button {
  width: auto;
  margin-left: 5px;
  text-align: center;
  /* width: 100%; */
  
}

#completeButton1{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

#cmplt{
  border: none;
  background-color: rgb(87, 159, 87);
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

#clr{
  border: none;
  background-color: rgb(220, 220, 27);
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

#dlt{
  border: none;
  background-color: rgb(195, 87, 87);
  color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.MuiBox-root.css-i9gxme {
  width: 100%;
  text-align: center;
  font-family: w3-monospace;
}

.nav h1{
  text-align: center;
  color: black;
  font-family: monospace;
}